<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayBorderWidth</key>
	<integer>16</integer>
	<key>displayCurve</key>
	<real>0.125</real>
	<key>displaySaturation</key>
	<real>1</real>
	<key>displayContrast</key>
	<integer>1</integer>
	<key>displayBrightness</key>
	<real>1</real>
	<key>displayVignetteX</key>
	<integer>1</integer>
	<key>displayVignetteY</key>
	<real>0.25</real>
	<key>soundVolume</key>
	<real>0.5</real>
	<key>soundLowPassFilter</key>
	<integer>3500</integer>
	<key>soundHighPassFilter</key>
	<integer>1</integer>
	<key>currentMachineType</key>
	<integer>0</integer>
	<key>displayShowVignette</key>
	<integer>0</integer>
	<key>sceneScaleMode</key>
	<integer>0</integer>
	<key>AYChannel1</key>
	<true/>
	<key>AYChannel2</key>
	<true/>
	<key>AYChannel3</key>
	<true/>
	<key>AYChannel1Balance</key>
	<integer>0</integer>
	<key>AYChannel2Balance</key>
	<integer>0</integer>
	<key>AYChannel3Balance</key>
	<integer>0</integer>
</dict>
</plist>
